<form role="form" id="myForm">
    <div class="form-group">
        <label for="lEmail">Email</label>
        <input type="email" id="lEmail" class="form-control" placeholder="Enter E-mail Address.." ng-model="user.email">
    </div>
    <div class="form-group">
        <label for="lPassword">Password</label>
        <input type="password" id="lPassword" class="form-control" placeholder="Enter Password.." ng-model="user.password">
    </div>
    <button type="button" class="btn btn-default btn-lg" ng-click="logIn()">Log In</button>
    <button type="button" class="btn btn-default btn-lg">Forgot Password ?</button>
</form>

